@model HeaderViewModel

<header>
    <partial name="_TopHeader" model="Model.TopHeaderViewModel" />
    <div class="header-3" id="header-sticky">
        <div class="plane-shape">
            <img alt="shape-img" src="/img/plane.png" />
        </div>
        <div class="container">
            <div class="mega-menu-wrapper">
                <div class="header-main">
                    <div class="header-right">
                        <div class="logo">
                            <a class="header-logo" asp-controller="Home" asp-action="Index">
                                <img alt="@Model.Logo!.Alt" title="@Model.Logo.Title" src="/img/@Model.Logo.Address" />
                            </a>
                        </div>
                    </div>
                    <div class="header-left d-flex justify-content-end align-items-center">
                        <div class="mean__menu-wrapper">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        @foreach (var item in Model.Pages!)
                                        {

                                            <li>
                                                <a href="@item.Action">
                                                    @item.Name
                                                    @if (item.SubPages!.Count != 0)
                                                    {
                                                        <i class="fas fa-angle-down"></i>
                                                    }
                                                </a>
                                                @if (item.SubPages!.Count != 0)
                                                {
                                                    <ul class="submenu">
                                                        @foreach (var subPage in item.SubPages)
                                                        {
                                                            <li>
                                                                <a href="@subPage.Action">
                                                                    @subPage.Name
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>

                                        }

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <a class="search-trigger search-icon" href="#0">
                            <i class="fal fa-search">
                            </i>
                        </a>
                        <div class="header-button">
                            <a class="theme-btn bg-white" href="contact.html">
                                <span>
                                    @Model.Theme 
                                    <i class="fa-solid fa-arrow-left-long">
                                    </i>
                                </span>
                            </a>
                        </div>
                        <div class="header__hamburger d-lg-none my-auto">
                            <div class="sidebar__toggle">
                                <i class="fas fa-bars">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- جستجو...ea Start -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close">
        </i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input class="main-search-input" placeholder="جستجو..." type="search" />
                </div>
            </form>
        </div>
    </div>
</div>