@using InfoTech.Utilities
@model HeaderViewModel


<div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index.html">
                            <img alt="@Model.Logo!.Alt" title="@Model.Logo.Title" src="/img/@Model.Logo.Address" />
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                            <i class="fas fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <p class="text d-none d-lg-block">
                </p>
                <div class="mobile-menu fix mb-3">
                </div>
                <div class="offcanvas__contact">
                    <h4>
                        اطلاعات تماس
                    </h4>
                    <ul>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon">
                                <i class="fal fa-map-marker-alt">
                                </i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="#" target="_blank">
                                    @Model.TopHeaderViewModel!.Address!.State, @Model.TopHeaderViewModel.Address.City , @Model.TopHeaderViewModel.Address.Location
                                </a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-envelope">
                                </i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="mailto:@Model.TopHeaderViewModel!.Email!.Address">
                                    <span>
                                        @Model.TopHeaderViewModel.Email.Address
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-clock">
                                </i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="#" target="_blank">
                                    @foreach (var work in Model.TopHeaderViewModel.WorkTimes!)
                                    {
                                        @Sd.DayOfWeekTranslate(work.StartDay) @if (work.EndDay != null)
                                        {
                                            <span> تا @Sd.DayOfWeekTranslate(work.EndDay)</span>
                                        } <span>, @work.StartTime.ToString() تا @work.EndTime.ToString()</span>
                                                                                                        <br/>
                                    }
                                </a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="far fa-phone">
                                </i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="tel:@Model.TopHeaderViewModel.Phone!.Number">
                                    @Model.TopHeaderViewModel.Phone.Number
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="header-button mt-4">
                        <a class="theme-btn text-center" href="contact.html">
                            <span>
                                @Model.Theme 
                                <i class="fa-solid fa-arrow-left-long">
                                </i>
                            </span>
                        </a>
                    </div>
                    <div class="social-icon d-flex align-items-center">
                        @foreach (var media in Model.TopHeaderViewModel.SocialMedias!)
                        {
                            <a href="@media.Link" title="@media.Media">
                                @Html.Raw(media.Icon)
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay">
</div>