@model ProjectSectionViewModel
@{
    var projectCount = 0;
}
<section class="project-section-3 section-padding pb-0 fix bg-cover" style="background-image: url('/img/testimonial/bg.jpg');">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title">
                <span class="text-white">
                    @Model.Section!.Tag
                </span>
                <h2 class="text-white">
                    @Html.Raw(Model.Section.Title)
                </h2>
            </div>
            <div class="video-box">
                <a class="video-btn ripple video-popup" href="@Model.Video!.Link" title="@Model.Video.Title">
                    <i class="fa-solid fa-play">
                    </i>
                </a>
            </div>
        </div>
        <div class="project-wrapper style-2">
            <div class="swiper project-slider-3">
                <div class="swiper-wrapper">
                    @foreach (var project in Model.Projects!.Where(project => projectCount < 7))
                    {
                        <div class="swiper-slide">
                            <div class="project-items style-2">
                                <div class="project-image">
                                    <img alt="project-img" src="/img/@project.Image!.Address"/>
                                    <div class="project-content">
                                        <p>
                                            @project.Description
                                        </p>
                                        <h4>
                                            <a href="project-details.html">
                                                @project.Title
                                            </a>
                                        </h4>
                                        <a class="arrow-icon-2" href="project-details.html">
                                            <i class="fa-solid fa-arrow-left">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        projectCount++;
                    }
                </div>
            </div>
        </div>
        <div class="swiper-dot-2 mr-right">
            <div class="dot-2">
            </div>
        </div>
    </div>
</section>
