@model TopHeaderViewModel
<div class="header-top-section top-style-3">
    <div class="container">
        <div class="header-top-wrapper">
            <ul class="contact-list">
                <li>
                    <i class="far fa-envelope">
                    </i>
                    <a href="mailto:@Model.Email!.Address" >
                        @Model.Email.Address
                    </a>
                </li>
                <li>
                    <i class="fa-solid fa-phone-volume">
                    </i>
                    <a href="tel:@Model.Phone!.Number">
                        @Model.Phone.Number
                    </a>
                </li>
            </ul>
            <div class="top-left">
                <div class="flag-wrap">
                    <div class="flag">
                        @foreach (var lang in Model.Languages!.Where(lang => lang.Active))
                        {
                            <img style="width: 24px;height: 24px" alt="@lang.Image!.Alt" title="@lang.Image.Title" src="/img/@lang.Image.Address" />
                        }
                    </div>
                    <div class="nice-select" tabindex="0">
                        @foreach (var lang in Model.Languages!.Where(lang => lang.Active))
                        {
                            <span class="current">
                                @lang.Name
                            </span>
                        }
                        <ul class="list">
                            @foreach (var lang in Model.Languages!)
                            {
                                <li class="option @((lang.Active) ? "selected focus" : null)" data-value="@lang.Id">
                                    @lang.Name
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="social-icon d-flex align-items-center">
                    <span>
                        ما را دنبال کنید:
                    </span>
                    @foreach (var media in Model.SocialMedias!)
                    {
                        <a href="@media.Link" title="@media.Media">
                            @Html.Raw(media.Icon)
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>