@model WorkProcessViewModel

<section class="work-process-section fix section-padding pt-4">
    <div class="container">
        <div class="section-title text-center">
            <span>
                @Model.Section!.Tag
            </span>
            <h2>
                @Html.Raw(Model.Section.Title)
            </h2>
        </div>
        <div class="process-work-wrapper">
            <div class="line-shape">
                <img alt="@Model.Image!.Alt" src="/img/@Model.Image.Address" title="@Model.Image.Title"/>
            </div>
            <div class="row">
                @foreach (var process in Model.WorkProcesses!.OrderBy(w => w.DisplayOrder))
                {
                    if (process.DisplayOrder % 2 == 0)
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="work-process-items text-center">
                                <div class="content style-2">
                                    <h4>
                                        @Html.Raw(process.Step)
                                    </h4>
                                    <p>
                                        @Html.Raw(process.Description)
                                    </p>
                                </div>
                                <div class="icon">
                                    <img alt="@process.Image!.Alt" title="@process.Image.Title" src="/img/@process.Image.Address"/>
                                    <h6 class="number">
                                        @process.DisplayOrder
                                    </h6>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="work-process-items text-center">
                                <div class="icon">
                                    <img alt="@process.Image!.Alt" title="@process.Image.Title" src="/img/@process.Image.Address" />
                                    <h6 class="number">
                                        @process.DisplayOrder
                                    </h6>
                                </div>
                                <div class="content">
                                    <h4>
                                        @Html.Raw(process.Step)
                                    </h4>
                                    <p>
                                        @Html.Raw(process.Description)
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    
                }
            </div>
        </div>
    </div>
</section>
